<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card text-center width-400">
          <br/>
          <br/>
          <!--<div class="card-img overlap">-->
            <!--<img alt="element 06" class="mb-1" src="assets/img/logos/512.png" width="190">-->
          <!--</div>-->
          <div class="card-body align-content">
            <div class="card-block">
              <form [formGroup]="regularForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group ">
                  <div class="col-md-12">
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" ngModel required email>
                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Informe um Email</small>
                    <small class="form-text text-muted danger" *ngIf="emailError != ''">{{emailError}}</small>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="password" class="form-control" formControlName="password" id="password" placeholder="Senha" ngModel required>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-blue btn-block btn-raised">Entrar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card-footer">
            <div class="float-left"><a (click)="onForgotPassword()">Esqueci a senha</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--Login Page Ends-->

