<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh" >
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card text-center width-400">
          <!--<div class="card-img overlap">-->
            <!--<img alt="element 06" class="mb-1" src="assets/img/logos/512.png" width="190">-->
          <!--</div>-->
          <div class="card-body">
            <div class="card-block" *ngIf=isAuth>

              <form [formGroup]="regularForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group text-left">
                  <div class="col-md-12">
                    <h5>Nova senha</h5>
                    <input type="password" class="form-control" formControlName="password" id="password" placeholder="Informe uma senha" ngModel required>
                    <small class="form-text text-muted danger" *ngIf="emailError != ''">{{emailError}}</small>
                  </div>
                </div>

                <div class="form-group text-left">
                  <div class="col-md-12">
                    <h5>Confirmar nova senha</h5>
                    <input type="password" class="form-control" formControlName="passwordConfirm" id="passwordConfirm" placeholder="Confirmar a senha" ngModel required>
                  </div>
                </div>

                <div class="form-group ">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-blue btn-block btn-raised">Salvar</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="card-block" *ngIf= !isAuth>
              <h4>Este link não está mais válido</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
