<form [formGroup]="form" (ngSubmit)="save()" novalidate>

  <!--user event begin-->
  <section class="basic-elements">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Informações do Usuário</h4>
          </div>
          <div class="card-body">
            <div class="px-3">

              <div class="form-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="txtName">Nome do Usuario</label>
                      <input type="text" class="form-control" id="txtName" [(ngModel)]="event.userName"
                             formControlName="userName">
                      <small class="form-text text-muted danger"
                             *ngIf="!form.get('userName').valid && (form.get('userName').dirty || form.get('userName').touched)">
                        Campo Obrigatório
                      </small>
                    </fieldset>
                  </div>

                  <div class="col-xl-3 col-lg-4 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="txtName">Email</label>
                      <input type="text" class="form-control" id="txtName" [(ngModel)]="event.userEmail"
                             formControlName="userEmail">
                      <small class="form-text text-muted danger"
                             *ngIf="!form.get('userEmail').valid && (form.get('userEmail').dirty || form.get('userEmail').touched)">
                        Email Inválido
                      </small>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--user event end-->

    <!-- Event start -->
    <section class="basic-elements">

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">Informações da Evento</h4>
            </div>
            <div class="card-body">
              <div class="px-3">

                <div class="form-body">
                  <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                      <fieldset class="form-group">
                        <label for="txtName">Nome do Evento</label>
                        <input type="text" class="form-control" id="txtName" [(ngModel)]="event.name" formControlName="name">
                        <small class="form-text text-muted danger" *ngIf="!form.get('name').valid && (form.get('name').dirty || form.get('name').touched)">
                          Campo Obrigatório
                        </small>
                      </fieldset>
                    </div>

                    <div class="col-xl-2 col-lg-4 col-md-12 mb-1">
                      <fieldset class="form-group">
                        <label for="txtbegin">Data de Início</label>
                        <input type="text" class="form-control" id="txtbegin" placeholder="DD/MM/AAAA" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="event.begin" formControlName="begin">
                        <small class="form-text text-muted danger" *ngIf="!form.get('begin').valid && (form.get('begin').dirty || form.get('begin').touched)">
                          Campo Obrigatório
                        </small>
                      </fieldset>
                    </div>

                    <div class="col-xl-2 col-lg-4 col-md-12 mb-1">
                      <fieldset class="form-group">
                        <label for="txtend">Data de Término</label>
                        <input type="text" class="form-control" id="txtend" placeholder="DD/MM/AAAA" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="event.end" formControlName="end">
                        <small class="form-text text-muted danger" *ngIf="!form.get('end').valid && (form.get('end').dirty || form.get('end').touched)">
                          Campo Obrigatório
                        </small>
                        <small class="form-text text-muted danger" *ngIf="!form.get('end').valid && (form.get('end').dirty || form.get('end').touched) || event.end < event.begin">
                          A data de fim não pode vir antes da de início
                        </small>
                      </fieldset>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-6 mb-1">
                      <fieldset class="form-group">
                        <label for="txtprimaryColor">Cor Primaria</label><br>
                        <input type=color class="select-color" id="txtprimaryColor" [(ngModel)]="event.primaryColor" formControlName="primaryColor">
                        <small class="form-text text-muted danger" *ngIf="!form.get('primaryColor').valid && (form.get('primaryColor').dirty || form.get('primaryColor').touched)">
                          Campo Obrigatório
                        </small>
                      </fieldset>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-6 mb-1">
                      <fieldset class="form-group">
                        <label for="txtsecundaryColor">Cor Segundaria</label><br>
                        <input type=color class="select-color" id="txtsecundaryColor" [(ngModel)]="event.secundaryColor" formControlName="secundaryColor">
                        <small class="form-text text-muted danger" *ngIf="!form.get('secundaryColor').valid && (form.get('secundaryColor').dirty || form.get('secundaryColor').touched)">
                          Campo Obrigatório
                        </small>
                      </fieldset>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                      <fieldset class="form-group">
                        <label for="txtmainMessage">Mensagem</label>
                        <input type="text" class="form-control" id="txtmainMessage" [(ngModel)]="event.mainMessage" formControlName="mainMessage">
                        <small class="form-text text-muted danger" *ngIf="!form.get('mainMessage').valid && (form.get('mainMessage').dirty || form.get('mainMessage').touched)">
                          Campo Obrigatório
                        </small>
                      </fieldset>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                      <fieldset class="form-group">
                        <label for="txtsecondaryMessage">Mensagem Secundaria</label>
                        <input type="text" class="form-control" id="txtsecondaryMessage" [(ngModel)]="event.secondaryMessage" formControlName="secondaryMessage">
                        <small class="form-text text-muted danger" *ngIf="!form.get('secondaryMessage').valid && (form.get('secondaryMessage').dirty || form.get('secondaryMessage').touched)">
                          Campo Obrigatório
                        </small>
                      </fieldset>
                    </div>

                    <!--<div class="col-xl-2 col-lg-6 col-md-2 mb-1">-->
                    <!--<fieldset class="form-group">-->
                    <!--<small class="form-text text-muted danger" *ngIf="!form.get('desc').valid && (form.get('desc').dirty || form.get('desc').touched)">Campo Obrigatório</small>-->
                    <!--<label for="txtBegin">Data de Início</label>-->
                    <!--<input type=date class="form-control" id="txtBegin" [(ngModel)]="event.begin" formControlName="begin">-->
                    <!--</fieldset>-->
                    <!--</div>-->

                    <!--<div class="col-xl-2 col-lg-6 col-md-2 mb-1">-->
                    <!--<fieldset class="form-group">-->
                    <!--<small class="form-text text-muted danger" *ngIf="!form.get('desc').valid && (form.get('desc').dirty || form.get('desc').touched)">Campo Obrigatório</small>-->
                    <!--<label for="txtEnd">Data de Término</label>-->
                    <!--<input type=date class="form-control" id="txtEnd" [(ngModel)]="event.end" formControlName="end">-->
                    <!--</fieldset>-->
                    <!--</div>-->

                    <!--<div class="col-xl-4 col-lg-6 col-md-4 mb-1">-->
                    <!--<fieldset class="form-group">-->
                    <!--<small class="form-text text-muted danger" *ngIf="!form.get('desc').valid && (form.get('desc').dirty || form.get('desc').touched)">Campo Obrigatório</small>-->
                    <!--<label for="txtprimaryColor">Cor Primaria</label>-->
                    <!--<input type=color class="form-control" id="txtprimaryColor" [(ngModel)]="event.primaryColor" formControlName="primaryColor">-->
                    <!--</fieldset>-->
                    <!--</div>-->

                    <!--<div class="col-xl-4 col-lg-6 col-md-4 mb-1">-->
                    <!--<fieldset class="form-group">-->
                    <!--<small class="form-text text-muted danger" *ngIf="!form.get('desc').valid && (form.get('desc').dirty || form.get('desc').touched)">Campo Obrigatório</small>-->
                    <!--<label for="txtsecundaryColor">Cor Segundaria</label>-->
                    <!--<input type=color class="form-control" id="txtsecundaryColor" [(ngModel)]="event.secundaryColor" formControlName="secundarycolor">-->
                    <!--</fieldset>-->
                    <!--</div>-->

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Event end -->

    <!-- Gallery start -->
    <section class="basic-elements" *ngIf="event.id != null">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">

          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">Selecionar arquivos</h4>
            </div>

            <div class="card-body">
              <div class="px-3">

                <div class="form-body">

                  <div class="input-group">

                    <label class="display-inline-block custom-control custom-radio ml-1">
                      <input type="radio" name="typeImage" value="logo" formControlName="typeImage" [(ngModel)]="typeImage" (change)="changeTypeImage()" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description ml-0">Logo</span>
                    </label>

                    <label class="display-inline-block custom-control custom-radio ml-1">
                      <input type="radio" name="typeImage" value="cover" formControlName="typeImage" [(ngModel)]="typeImage" (change)="changeTypeImage()" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description ml-0">Fundo</span>
                    </label>

                  </div>

                  <div class="row">

                    <div class="col-xl-12 col-lg-12 col-md-12">
                      <fieldset class="form-group">
                        <label for="file">Enviar Arquivo</label>
                        <label class="custom-file center-block d-block">
                          <input type="file" id="file" class="custom-file-input" (change)="fileChangeListener($event)">
                          <span class="custom-file-control"></span>
                        </label>
                      </fieldset>
                    </div>
                  </div>

                  <div *ngIf="typeImage === 'logo'" id="event-card-logo" class="row">

                    <div class="col-xl-8 col-lg-8 col-md-8">
                      <img-cropper #cropper [image]="data" [settings]="cropperSettings" class=""></img-cropper>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4">
                      <div class="result" *ngIf="data.image">
                        <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                      </div>
                    </div>

                  </div>

                  <div *ngIf="typeImage === 'cover'" id="event-card-cover" class="row">

                    <div class="col-xl-12 col-lg-12 col-md-12">
                      <img-cropper #cropper [image]="data" [settings]="cropperSettings" class=""></img-cropper>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12">
                      <div class="result" *ngIf="data.image">
                        <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                      </div>
                    </div>

                  </div>

                  <br>
                  <button type="button" (click)="addPhoto()" *ngIf="data.image" class="btn btn-success btn-raised">
                    Enviar
                  </button>

                </div>
                <!-- Cropper Ends -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery end -->

    <!--Carousel Starts-->
    <section *ngIf="event.id != null" id="logo-cover">
      <!--Basic Carousel Starts-->
      <div class="row" matchHeight="card">

        <div class="col-lg-6 col-xl-6">
          <div class="card">

            <div class="card-header">
              <h4 class="card-title">Logo</h4>
            </div>

            <div *ngIf="logoUrl" class="card-body">
              <div class="card-block">
                <img class="img-fluid max-width: 100%; height: auto;" [src]="logoUrl ">
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6 col-xl-6">
          <div class="card">

            <div class="card-header">
              <h4 class="card-title">Fundo</h4>
            </div>

            <div *ngIf="coverUrl" class="card-body">
              <div class="card-block">
                <img class=" image-cover img-fluid max-width: 100%; height: auto;" [src]="coverUrl">
              </div>
            </div>

          </div>
        </div>
        <!--Basic Carousel Ends-->

      </div>
    </section>

    <!--&lt;!&ndash; AdressInfo start &ndash;&gt;-->
    <!--<section class="basic-elements">-->
    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<div class="card">-->
    <!--<div class="card-header">-->
    <!--<h4 class="card-title mb-0">Endereço</h4>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<div class="px-3">-->

    <!--<div class="form-body">-->
    <!--<div class="row">-->

    <!--<div class="col-xl-4 col-lg-6 col-md-12 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtStreet">Rua</label>-->
    <!--<input type="text" class="form-control" id="txtStreet" [(ngModel)]="event.addressInfo.street" formControlName="street">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--<div class="col-xl-4 col-lg-6 col-md-12 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtNumber">Numero</label>-->
    <!--<input type="text" class="form-control" id="txtNumber" [(ngModel)]="event.addressInfo.number" formControlName="number">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--<div class="col-xl-4 col-lg-6 col-md-12 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtDistrict">Bairro</label>-->
    <!--<input type="text" class="form-control" id="txtDistrict" [(ngModel)]="event.addressInfo.district" formControlName="district">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--<div class="col-xl-4 col-lg-6 \col-md-12 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtCity">Cidade</label>-->
    <!--<input type="text" class="form-control" id="txtCity" [(ngModel)]="event.addressInfo.city" formControlName="city">-->
    <!--</fieldset>-->
    <!--</div>-->

    <!--<div class="col-xl-4 col-lg-6 col-md-12 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label>Estado</label>-->
    <!--<select class="form-control" formControlName="state" [(ngModel)]="event.addressInfo.state">-->
    <!--<option value="Acre" >AC</option>-->
    <!--<option value="Alagoas">AL</option>-->
    <!--<option value="Amapá">AP</option>-->
    <!--<option value="Amazonas">AM</option>-->
    <!--<option value="Bahia">BA</option>-->
    <!--<option value="Ceará">CE</option>-->
    <!--<option value="Distrito Federal">DF</option>-->
    <!--<option value="Espírito Santo">ES</option>-->
    <!--<option value="Goiás">GO</option>-->
    <!--<option value="Maranhão">MA</option>-->
    <!--<option value="Mato Grosso do Sul">MS</option>-->
    <!--<option value="Minas Gerais">MG</option>-->
    <!--<option value="Pará">PA</option>-->
    <!--<option value="Paraíba">PB</option>-->
    <!--<option value="Paraná">PR</option>-->
    <!--<option value="Pernambuco">PE</option>-->
    <!--<option value="Piauí">PI</option>-->
    <!--<option value="Rio de Janeiro">RJ</option>-->
    <!--<option value="Rio Grande do Norte">RN</option>-->
    <!--<option value="Rio Grande do Sul">RS</option>-->
    <!--<option value="Rondônia">RO</option>-->
    <!--<option value="Roraima">RR</option>-->
    <!--<option value="Santa Catarina">SC</option>-->
    <!--<option value="SãoPaulo">SP</option>-->
    <!--<option value="Sergipe">SE</option>-->
    <!--<option value="Tocantins">TO</option>-->

    <!--<option *ngFor="let state of stateOptions">{{state}}</option>-->
    <!--</select>-->
    <!--</fieldset>-->
    <!--</div>-->

    <!--<div class="col-xl-4 col-lg-6 \col-md-12 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtComplement">Complemento</label>-->
    <!--<input type="text" class="form-control" id="txtComplement" [(ngModel)]="event.addressInfo.complement" formControlName="complement">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--<div class="col-xl-4 col-lg-6 \col-md-12 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtzipcode">CEP</label>-->
    <!--<input type="text" class="form-control" id="txtzipcode" [(ngModel)]="event.addressInfo.zipCode" formControlName="zipCode">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="col-xl-4 col-lg-6 col-md-12 mb-1">&ndash;&gt;-->
    <!--&lt;!&ndash;<fieldset class="form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<label for="txtState">Estado</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" class="form-control" id="txtState" [(ngModel)]="event.addressInfo.state" maxlength="2" formControlName="state">&ndash;&gt;-->
    <!--&lt;!&ndash;</fieldset>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->


    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash; AddressInfo end &ndash;&gt;-->

    <!--&lt;!&ndash; SalesOff start &ndash;&gt;-->
    <!--<section class="basic-elements">-->
    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<div class="card">-->
    <!--<div class="card-header">-->
    <!--<h4 class="card-title mb-0">Promoções</h4>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<div class="px-3">-->
    <!--<div class="form-body">-->
    <!--<div class="row">-->

    <!--<div class=".col-12 col-sm-6 col-lg-8 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtQuarto1">Quarto1</label>-->
    <!--<input type="title1" class="form-control" id="txtQuarto1" [(ngModel)]="event.salesOff[0].title" formControlName="title1">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--<div class="col-xl-4 col-lg-6 col-md-4 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtPrice1">Preço1</label>-->
    <!--<input type="priceNow1" class="form-control" id="txtPrice1" [(ngModel)]="event.salesOff[0].priceNow" formControlName="priceNow1">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--<div class=".col-12 col-sm-6 col-lg-8 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtQuarto2">Quarto2</label>-->
    <!--<input type="title2" class="form-control" id="txtQuarto2" [(ngModel)]="event.salesOff[1].title" formControlName="title2">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--<div class=".col-6 col-lg-4 mb-1">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtPrice2">Preço2</label>-->
    <!--<input type="priceNow2" class="form-control" id="txtPrice2" [(ngModel)]="event.salesOff[1].priceNow" formControlName="priceNow2">-->
    <!--</fieldset>-->
    <!--</div>-->


    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash; SalesOff end &ndash;&gt;-->

    <!--User start -->
    <!--<section class="basic-textarea">-->
    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<div class="card">-->
    <!--<div class="card-header">-->
    <!--<h4 class="card-title mb-0">Address Info</h4>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<div class="card-block">-->

    <!--<div class="form-body">-->
    <!--<div class="row">-->
    <!--<div class="col-xl-4 col-lg-6 col-md-12">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtName">Name</label>-->
    <!--<input type="text" class="form-control" id="txtContact" [(ngModel)]="event.contact" formControlName="contact">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--<div class="col-xl-4 col-lg-6 col-md-12">-->
    <!--<fieldset class="form-group">-->
    <!--<label for="txtName">Email</label>-->
    <!--<input type="email" class="form-control" id="txtEmail" [(ngModel)]="event.email" formControlName="email">-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    <!--User End end -->

    <!--User start-->
    <section class="basic-textarea">
      <div class="row">
        <div class="col-xl-12 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">Escolha os Parceiros</h4>
            </div>
            <div class="card-body">
              <div class="card-block">

                <div class="form-body">
                  <div class="row">

                    <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                      <div class="form-group">

                        <ng-template #rt let-r="result" let-t="term">
                          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                        </ng-template>

                        <label for="typeahead-http">Busca parceiros:</label>
                        <div class="input-group">
                          <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="companyCard" formControlName="company" prop="company" [ngbTypeahead]="search" [resultTemplate]="rt"
                                 [inputFormatter]="formatterSearch" placeholder="Buscar parceiro"/>
                          <div class="input-group-btn" id="button-addon-search">
                            <button type="button" (click)="addCompany()" class="btn btn-raised btn-outline-success">
                              Adicionar
                            </button>
                          </div>
                        </div>
                        <div *ngIf="searching">Buscando...</div>
                        <div class="invalid-feedback" *ngIf="searchFailed">
                          Desculpe, sugestões não puderam ser carregadas.
                        </div>
                      </div>

                      <!--<label>Parceiros</label>-->

                      <!--<div class="switch-company row">-->
                        <!--<select class="form-control col-xl-6 col-lg-6 col-md-12 mb-1" formControlName="company" prop="company" [(ngModel)]="companyCard">-->
                        <!--<option *ngFor="let company of rowOptions" [ngValue]="company"> {{company.name}}</option>-->
                        <!--</select>-->
                        <!--<button type="button" (click)="addCompany()" class="btn btn-raised btn-outline-success">-->
                        <!--{{ 'form.add' | translate }}-->
                        <!--</button>-->
                      <!--</div>-->

                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-12">

                      <!--<input type='text' style='padding:8px;margin:15px auto;width:25%;' placeholder='Filtrar...' (keyup)='updateFilter($event)'/>-->

                      <ngx-datatable class="bootstrap fullscreen" [rows]="event.companies" [columns]="columns" [columnMode]="'force'"
                                     [headerHeight]="50" [footerHeight]="70" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10" ontimeupdate="'force'" [reorderable]="reorderable">
                        <i class="ft-edit-2 info font-medium-1 mr-2"></i>

                        <h1>Parceiros</h1>

                        <ngx-datatable-column [width]="200" name="Companhia" prop="name">
                        </ngx-datatable-column>

                        <ngx-datatable-column [width]="250" name="Descrição" prop="desc">
                        </ngx-datatable-column>

                        <ngx-datatable-column [width]="250" name="Local" prop="address">
                        </ngx-datatable-column>

                        <ngx-datatable-column [width]="100" name="Ações">

                          <!--<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>-->
                          <!--{{column.name}}-->
                          <!--</ng-template>-->

                          <!--<ng-template let-column="column" ngx-datatable-header-template>-->
                          <!--actions-->
                          <!--</ng-template>-->

                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <a (click)="removeCompany(row.id)" class="danger" data-original-title="Remover" title="Remover">
                              <i class="ft-trash font-medium-3"></i>
                            </a>
                          </ng-template>

                        </ngx-datatable-column>

                      </ngx-datatable>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--User End end-->

    <!--Basic DataTable Starts-->
    <section id="basic-datatable" class="mb-3">


    </section>
    <!--Basic DataTable Ends-->

    <!-- Submit begin -->
    <section class="file-browser">
      <div class="form-actions">
        <div class="text-right">
          <button type="submit" class="btn btn-raised btn-primary">
            Salvar
            <i class="ft-thumbs-up position-right"></i></button>
        </div>
      </div>
    </section>
    <!-- Submit end -->
  </form>
